<div class="max-w-sm w-full lg:max-w-full lg:flex m-5">
        <div
            class="border border-teal-400 lg:border-teal-400 bg-white rounded lg:rounded p-4 flex flex-col justify-between leading-normal
            max-w-sm w-full lg:max-w-full">
            <div class="mb-8">
                <div class="font-bold text-xl mb-2 bg-teal-500 text-white p-1 rounded"></div>
                <p class="text-base">{{Content}}</p>
            </div>
            <div class="flex items-center">
                <div class="text-sm">
                    <p class="leading-none">{{User.UserName}}</p>
                    <p class="text-teal-600">{{createdAt}}</p>
                </div>
            </div>
        </div>
</div>