<!DOCTYPE html>
<html lang="end">

<hed>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <link href="/css/output.css" rel="stylesheet" type="text/css" />
</hed>

<body>
    {{>navbar}}
    <div
        class="gap-1 p-2 m-5 content-center w-full flex flex-col items-center justify-center px-6 mx-auto md:h-1/2-screen">
        <div class="content-center w-full flex flex-col items-center justify-center mx-auto">
            {{{body}}}
        </div>
    </div>
    <div>{{userID}}{{loggedIn}}</div>
</body>

</html>