<!DOCTYPE html>
<html lang="end">

<hed>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <link href="/css/output.css" rel="stylesheet" type="text/css"/>
</hed>

<body>
    {{{body}}}
</body>

</html>